In [1]:
#!/usr/bin/python
# -*- encoding: utf-8

import numpy as np
import pandas as pd
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

/usr/local/lib/python2.7/dist-packages/fuzzywuzzy/fuzz.py:35: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [2]:

def enum_row(row):
    print row['state']


def find_state_code(row):
    if row['state'] != 0:
        print process.extractOne(row['state'], states, score_cutoff=80)


def capital(str):
    return str.capitalize()


def correct_state(row):
    if row['state'] != 0:
        state = process.extractOne(row['state'], states, score_cutoff=80)
        if state:
            state_name = state[0]
            return ' '.join(map(capital, state_name.split(' ')))
    return row['state']


def fill_state_code(row):
    if row['state'] != 0:
        state = process.extractOne(row['state'], states, score_cutoff=80)
        if state:
            state_name = state[0]
            return state_to_code[state_name]
    return ''

In [3]:
if __name__ == "__main__":
    pd.set_option('display.width', 200)
    data = pd.read_excel('sales.xlsx', sheetname='sheet1', header=0)
    print 'data.head() = \n', data.head()
    print 'data.tail() = \n', data.tail()
    print 'data.dtypes = \n', data.dtypes
    print 'data.columns = \n', data.columns
    for c in data.columns:
        print c,
    print
    data['total'] = data['Jan'] + data['Feb'] + data['Mar']
    print data.head()
    print data['Jan'].sum()
    print data['Jan'].min()
    print data['Jan'].max()
    print data['Jan'].mean()

data.head() =
   account                         name                                street             city          state  postal-code     Jan     Feb    Mar
0   211829   Kerluke, Koepp and Hilpert                    34456 Sean Highway       New Jaycob          Texas        28752   10000   62000  35000
1   320563               Walter-Trantow                     1311 Alvis Tunnel    Port Khadijah  NorthCarolina        38365   95000   45000  35000
2   648336   Bashirian, Kunde and Price  62184 Schamberger Underpass Apt. 231   New Lilianland           Iowa        76517   91000  120000  35000
3   109996  D'Amore, Gleichner and Bode           155 Fadel Crescent Apt. 144       Hyattburgh          Maine        46021   45000  120000  10000
4   121213                Bauch-Goldner                   7274 Marissa Common  Shanahanchester     California        49681  162000  120000  35000
data.tail() =
    account                          name                     street             city        state  postal-code     Jan     Feb     Mar
10   214098   Goodwin, Homenick and Jerde  649 Cierra Forks Apt. 078         Rosaberg     Tenessee        47743   45000  120000   55000
11   231907                    Hahn-Moore   18115 Olivine Throughway    Norbertomouth  NorthDakota        31415  150000   10000  162000
12   242368  Frami, Anderson and Donnelly            182 Bertie Road      East Davian         Iowa        72686  162000  120000   35000
13   268755                   Walsh-Haley       2624 Beatty Parkways     Goodwinmouth  RhodeIsland        31919   55000  120000   35000
14   273274                 McDermott PLC      8917 Bergstrom Meadow  Kathryneborough     Delaware        27933  150000  120000   70000
data.dtypes =
account         int64
name           object
street         object
city           object
state          object
postal-code     int64
Jan             int64
Feb             int64
Mar             int64
dtype: object
data.columns =
Index([u'account', u'name', u'street', u'city', u'state', u'postal-code', u'Jan', u'Feb', u'Mar'], dtype='object')
account name street city state postal-code Jan Feb Mar
   account                         name                                street             city          state  postal-code     Jan     Feb    Mar   total
0   211829   Kerluke, Koepp and Hilpert                    34456 Sean Highway       New Jaycob          Texas        28752   10000   62000  35000  107000
1   320563               Walter-Trantow                     1311 Alvis Tunnel    Port Khadijah  NorthCarolina        38365   95000   45000  35000  175000
2   648336   Bashirian, Kunde and Price  62184 Schamberger Underpass Apt. 231   New Lilianland           Iowa        76517   91000  120000  35000  246000
3   109996  D'Amore, Gleichner and Bode           155 Fadel Crescent Apt. 144       Hyattburgh          Maine        46021   45000  120000  10000  175000
4   121213                Bauch-Goldner                   7274 Marissa Common  Shanahanchester     California        49681  162000  120000  35000  317000
1462000
10000
162000
97466.6666667

In [4]:
    print '============='
    # 添加一行
    s1 = data[['Jan', 'Feb', 'Mar', 'total']].sum()
    print s1
    s2 = pd.DataFrame(data=s1)
    print s2
    print s2.T
    print s2.T.reindex(columns=data.columns)
    # 即：
    s = pd.DataFrame(data=data[['Jan', 'Feb', 'Mar', 'total']].sum()).T
    s = s.reindex(columns=data.columns, fill_value=0)
    print s
    data = data.append(s, ignore_index=True)
    data = data.rename(index={15:'Total'})
    print data.tail()

=============
Jan      1462000
Feb      1507000
Mar       717000
total    3686000
dtype: int64
             0
Jan    1462000
Feb    1507000
Mar     717000
total  3686000
       Jan      Feb     Mar    total
0  1462000  1507000  717000  3686000
   account  name  street  city  state  postal-code      Jan      Feb     Mar    total
0      NaN   NaN     NaN   NaN    NaN          NaN  1462000  1507000  717000  3686000
   account  name  street  city  state  postal-code      Jan      Feb     Mar    total
0        0     0       0     0      0            0  1462000  1507000  717000  3686000
       account                          name                    street             city        state  postal-code      Jan      Feb     Mar    total
11      231907                    Hahn-Moore  18115 Olivine Throughway    Norbertomouth  NorthDakota        31415   150000    10000  162000   322000
12      242368  Frami, Anderson and Donnelly           182 Bertie Road      East Davian         Iowa        72686   162000   120000   35000   317000
13      268755                   Walsh-Haley      2624 Beatty Parkways     Goodwinmouth  RhodeIsland        31919    55000   120000   35000   210000
14      273274                 McDermott PLC     8917 Bergstrom Meadow  Kathryneborough     Delaware        27933   150000   120000   70000   340000
Total        0                             0                         0                0            0            0  1462000  1507000  717000  3686000

In [6]:
    # apply的使用
    print '==============apply的使用=========='
    data.apply(enum_row, axis=1)

    state_to_code = {"VERMONT": "VT", "GEORGIA": "GA", "IOWA": "IA", "Armed Forces Pacific": "AP", "GUAM": "GU",
                     "KANSAS": "KS", "FLORIDA": "FL", "AMERICAN SAMOA": "AS", "NORTH CAROLINA": "NC", "HAWAII": "HI",
                     "NEW YORK": "NY", "CALIFORNIA": "CA", "ALABAMA": "AL", "IDAHO": "ID",
                     "FEDERATED STATES OF MICRONESIA": "FM",
                     "Armed Forces Americas": "AA", "DELAWARE": "DE", "ALASKA": "AK", "ILLINOIS": "IL",
                     "Armed Forces Africa": "AE", "SOUTH DAKOTA": "SD", "CONNECTICUT": "CT", "MONTANA": "MT",
                     "MASSACHUSETTS": "MA",
                     "PUERTO RICO": "PR", "Armed Forces Canada": "AE", "NEW HAMPSHIRE": "NH", "MARYLAND": "MD",
                     "NEW MEXICO": "NM",
                     "MISSISSIPPI": "MS", "TENNESSEE": "TN", "PALAU": "PW", "COLORADO": "CO",
                     "Armed Forces Middle East": "AE",
                     "NEW JERSEY": "NJ", "UTAH": "UT", "MICHIGAN": "MI", "WEST VIRGINIA": "WV", "WASHINGTON": "WA",
                     "MINNESOTA": "MN", "OREGON": "OR", "VIRGINIA": "VA", "VIRGIN ISLANDS": "VI",
                     "MARSHALL ISLANDS": "MH",
                     "WYOMING": "WY", "OHIO": "OH", "SOUTH CAROLINA": "SC", "INDIANA": "IN", "NEVADA": "NV",
                     "LOUISIANA": "LA",
                     "NORTHERN MARIANA ISLANDS": "MP", "NEBRASKA": "NE", "ARIZONA": "AZ", "WISCONSIN": "WI",
                     "NORTH DAKOTA": "ND",
                     "Armed Forces Europe": "AE", "PENNSYLVANIA": "PA", "OKLAHOMA": "OK", "KENTUCKY": "KY",
                     "RHODE ISLAND": "RI",
                     "DISTRICT OF COLUMBIA": "DC", "ARKANSAS": "AR", "MISSOURI": "MO", "TEXAS": "TX", "MAINE": "ME"}
    states = state_to_code.keys()
    print fuzz.ratio('Python Package', 'PythonPackage')
    print process.extract('Mississippi', states)
    print process.extract('Mississipi', states, limit=1)
    print process.extractOne('Mississipi', states)
    data.apply(find_state_code, axis=1)

    print 'Before Correct State:\n', data['state']
    data['state'] = data.apply(correct_state, axis=1)
    print 'After Correct State:\n', data['state']
    data.insert(5, 'State Code', np.nan)
    data['State Code'] = data.apply(fill_state_code, axis=1)
    print data

    # group by
    print '==============group by================'
    print data.groupby('State Code')
    print 'All Columns:\n'
    print data.groupby('State Code').sum()
    print 'Short Columns:\n'
    print data[['State Code', 'Jan', 'Feb', 'Mar', 'total']].groupby('State Code').sum()

    # 写入文件
    data.to_excel('sales_result.xls', sheet_name='Sheet1', index=False)

==============apply的使用==========
Texas
NorthCarolina
Iowa
Maine
California
Arkansas
Mississipi
RhodeIsland
Pennsylvania
Idaho
Tenessee
NorthDakota
Iowa
RhodeIsland
Delaware
0
96
[('MISSISSIPPI', 100), ('MISSOURI', 53), ('MASSACHUSETTS', 42), ('WISCONSIN', 40), ('VIRGIN ISLANDS', 38)]
[('MISSISSIPPI', 95)]
('MISSISSIPPI', 95)
('TEXAS', 100)
('NORTH CAROLINA', 96)
('IOWA', 100)
('MAINE', 100)
('CALIFORNIA', 100)
('ARKANSAS', 100)
('MISSISSIPPI', 95)
('RHODE ISLAND', 96)
('PENNSYLVANIA', 100)
('IDAHO', 100)
('TENNESSEE', 94)
('NORTH DAKOTA', 96)
('IOWA', 100)
('RHODE ISLAND', 96)
('DELAWARE', 100)
Before Correct State:
0                Texas
1        NorthCarolina
2                 Iowa
3                Maine
4           California
5             Arkansas
6           Mississipi
7          RhodeIsland
8         Pennsylvania
9                Idaho
10            Tenessee
11         NorthDakota
12                Iowa
13         RhodeIsland
14            Delaware
Total                0
Name: state, dtype: object
After Correct State:
0                 Texas
1        North Carolina
2                  Iowa
3                 Maine
4            California
5              Arkansas
6           Mississippi
7          Rhode Island
8          Pennsylvania
9                 Idaho
10            Tennessee
11         North Dakota
12                 Iowa
13         Rhode Island
14             Delaware
Total                 0
Name: state, dtype: object
       account                              name                                street               city           state State Code  postal-code      Jan      Feb     Mar    total
0       211829        Kerluke, Koepp and Hilpert                    34456 Sean Highway         New Jaycob           Texas         TX        28752    10000    62000   35000   107000
1       320563                    Walter-Trantow                     1311 Alvis Tunnel      Port Khadijah  North Carolina         NC        38365    95000    45000   35000   175000
2       648336        Bashirian, Kunde and Price  62184 Schamberger Underpass Apt. 231     New Lilianland            Iowa         IA        76517    91000   120000   35000   246000
3       109996       D'Amore, Gleichner and Bode           155 Fadel Crescent Apt. 144         Hyattburgh           Maine         ME        46021    45000   120000   10000   175000
4       121213                     Bauch-Goldner                   7274 Marissa Common    Shanahanchester      California         CA        49681   162000   120000   35000   317000
5       132971  Williamson, Schumm and Hettinger                  89403 Casimer Spring       Jeremieburgh        Arkansas         AR        62785   150000   120000   35000   305000
6       145068                        Casper LLC          340 Consuela Bridge Apt. 400  Lake Gabriellaton     Mississippi         MS        18008    62000   120000   70000   252000
7       205217                  Kovacek-Johnston          91971 Cronin Vista Suite 601         Deronville    Rhode Island         RI        53461   145000    95000   35000   275000
8       209744                    Champlin-Morar                      26739 Grant Lock    Lake Juliannton    Pennsylvania         PA        64415    70000    95000   35000   200000
9       212303                    Gerhold-Maggio             366 Maggio Grove Apt. 998          North Ras           Idaho         ID        46308    70000   120000   35000   225000
10      214098       Goodwin, Homenick and Jerde             649 Cierra Forks Apt. 078           Rosaberg       Tennessee         TN        47743    45000   120000   55000   220000
11      231907                        Hahn-Moore              18115 Olivine Throughway      Norbertomouth    North Dakota         ND        31415   150000    10000  162000   322000
12      242368      Frami, Anderson and Donnelly                       182 Bertie Road        East Davian            Iowa         IA        72686   162000   120000   35000   317000
13      268755                       Walsh-Haley                  2624 Beatty Parkways       Goodwinmouth    Rhode Island         RI        31919    55000   120000   35000   210000
14      273274                     McDermott PLC                 8917 Bergstrom Meadow    Kathryneborough        Delaware         DE        27933   150000   120000   70000   340000
Total        0                                 0                                     0                  0               0                       0  1462000  1507000  717000  3686000
==============group by================
<pandas.core.groupby.DataFrameGroupBy object at 0x7fc1443e41d0>
All Columns:

            account  postal-code      Jan      Feb     Mar    total
State Code
                  0            0  1462000  1507000  717000  3686000
AR           132971        62785   150000   120000   35000   305000
CA           121213        49681   162000   120000   35000   317000
DE           273274        27933   150000   120000   70000   340000
IA           890704       149203   253000   240000   70000   563000
ID           212303        46308    70000   120000   35000   225000
ME           109996        46021    45000   120000   10000   175000
MS           145068        18008    62000   120000   70000   252000
NC           320563        38365    95000    45000   35000   175000
ND           231907        31415   150000    10000  162000   322000
PA           209744        64415    70000    95000   35000   200000
RI           473972        85380   200000   215000   70000   485000
TN           214098        47743    45000   120000   55000   220000
TX           211829        28752    10000    62000   35000   107000
Short Columns:

                Jan      Feb     Mar    total
State Code
            1462000  1507000  717000  3686000
AR           150000   120000   35000   305000
CA           162000   120000   35000   317000
DE           150000   120000   70000   340000
IA           253000   240000   70000   563000
ID            70000   120000   35000   225000
ME            45000   120000   10000   175000
MS            62000   120000   70000   252000
NC            95000    45000   35000   175000
ND           150000    10000  162000   322000
PA            70000    95000   35000   200000
RI           200000   215000   70000   485000
TN            45000   120000   55000   220000
TX            10000    62000   35000   107000